/* Reset all css properties */
*{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body & HTML*/
body, html {
    background: linear-gradient(-135deg,purple,cyan);
    height: 100%;
    margin: 0;
    padding: 0;
}

/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

/* title */
.header .title{
    box-sizing: border-box;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;   
    filter: drop-shadow(0 0 5px black);
    pointer-events: none;
}

/* Navbar & hover*/
.navbar a{
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
   color: #d161ff;
}

/* Player turn */
.player-turn{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: whitesmoke;
    filter: drop-shadow(0 0 5px black);
    pointer-events: none;
}

/* wrapper */
.wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%; /* Centers */
    left: 50%;
}

/* Container */
.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

/* Buttons & hover*/
.button-option{
    background: #fff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: 'Skranji', sans-serif;
}

.button-option:hover{
    background: #cccbcb;
    border: 3px solid #000;
    cursor: pointer;
}

.button-option:disabled{
    pointer-events: none;
    border: none;
    background-color: #fff;
    transition: .3s ease-in;
}

/* restart & hover*/
#restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
}
#restart:hover{
    background-color: #000;
    color: #fff;
    transition: .3s ease;
    cursor: pointer;
}

/* Popup & hide */
.popup {
    background: linear-gradient(30deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 64px;
}

.popup.hide {
  display: none;
}

/* New game & hover*/
#new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #fff;
    color: #000;
    border-radius: 0.2em;
    border: none;
  }
#new-game:hover{
    background-color: #000;
    color: #fff;
    transition: .3s ease;
    cursor: pointer;
}

/* Display message */
#message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    pointer-events: none;
}